body {
    margin: 0;
    font-family: 'Inter';
    font-size: 1.5rem;
    background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%); 
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #ffa807;
    font-family: Courier New;
    text-shadow: 0px 0px 0 rgb(250,163,2),
                 1px 1px 0 rgb(245,158,0),
                 2px 2px 0 rgb(240,153,0),
                 3px 3px 0 rgb(235,148,0),
                 4px 4px 0 rgb(230,143,0),
                 5px 5px 0 rgb(225,138,0),
                 6px 6px 0 rgb(220,133,0),
                 7px 7px 0 rgb(215,128,0),
                 8px 8px 0 rgb(210,123,0),
                 9px 9px 0 rgb(205,118,0),
                 10px 10px  0 rgb(200,113,0),
                 11px 11px 10px rgba(0,0,0,0.6),
                 11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);
 }

 h4 {
    color: coral;
    font-weight: 700;
 }

img {
    max-width: 20vw;
    max-height: 8vw;
    display: block;
    margin: auto;
}

form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

textarea {
    display: none;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    background-color: #43A499;
    color: #FFFFFF;
    font-size: 16px;
    resize: none;
    -webkit-box-shadow: 3px 3px 3px 3px #ccc; 
  box-shadow: 5px 5px 5px 5px #ccc;
}

i {
    pointer-events: none;
    
}

.dashboardContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: black;
    color:#FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: px;
}

#topContainer {
    padding: 3rem 31.3rem;
    padding-bottom: 0;
}

#principalId {
    margin-right: auto;
    font-weight: 500;
    color: #06f09b;
}

#username {
    color: coral;
}

#pid {
    font-size: 1rem;
}

#principalId, #username {
    padding: 14px 20px;

}

.loginContainer {
    border: 3px solid #f1f1f1;
    padding: 1rem;
}

#textareaContainer {
    display: flex;
    flex-direction: row;
}

#textareaContainer #post {
    margin-left: 0.875rem;
    margin-top: 0;
    height: 2.8125rem;
    width: 5rem;
    font-size: 1rem;
    text-align: center;
}


.btn {
    background-color: #02b070;
    color: #FFFFFF;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font-weight: 500;
    border-radius: 0.5rem;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .5s;
  }

.btn:hover {
    opacity: 0.8;
}

#login {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    background: coral;
    color: #FFFFFF;
}

#login:hover {
    opacity: 0.8;
}

#logout {
    margin-right: 20px;
    background: rgb(189, 67, 22);
    color: #FFFFFF;
}

.postContainer {
    display: flex;
    flex-direction: row;
    padding: 2rem 28rem;
    max-width: 60rem;
    }
    
.action-bar {
    height: 160px;
    margin-right: 8px;
    max-width: min-content;
}
      
.num {
    position: relative;
    top: 12px;
    left: 18px;
    font-size: 24px;
}
      
.vote {
    width: 0;
    height: 0;
    border: 24px solid transparent;
    position: relative;
}

.vote:after {
    width: 24px;
    height: 30px;
    position: absolute;
    left: -12px;
    content: ' ';
}

.up.vote {
    border-bottom-color: #CCCCFF;
    border-top-width: 0;
    top: 0;
    cursor: pointer;
} 

.up.vote:after {
    background: linear-gradient(to bottom, rgba(204,204,255,0) 0%, rgba(204,204,255,1)  50%,rgba(0,0,0,0) 100%); /* W3C */
    
    top: 11px;
} 

.down.vote {
    border-top-color: #CCCCFF;
    border-bottom-width: 0;
    bottom: -24px;
    cursor: pointer;
} 
.down.vote:after {
    background: linear-gradient(to bottom,  rgba(204,204,255,0) 0%,rgba(204,204,255,1) 50%,rgba(204,204,255,1) 100%); /* W3C */
    
    bottom: 11px;
}

.update {
    position: relative;
    bottom: -124px;
    width: 100%;
    height: 48px;
    font-size: 24px;
    background-color: #02b070;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .5s;
}

.delete {
    position: relative;
    bottom: -132px;
    width: 100%;
    height: 48px;
    font-size: 24px;
    background-color: #02b070;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .5s;
}

.update:hover, .delete:hover {
    opacity: 0.8;
}

.card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 20%;
      border-radius: 5px;
    }
    
.card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
.postarea {
        width: 80%;
        padding: 1rem;
        background-color: #43A499;
        color: #FFFFFF;
        font-size: 1rem;
        resize: none;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      border-radius: 5px;
    }
    
#avatar {
      border-radius: 5px 5px 0 0;
    }
    
.container {
      padding: 2px 16px;
    }

.logo {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .loginContainer{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #23463f;
    border-radius: 15px ;

}

h2{
text-align: center;
color: #277582;
padding: 20px;
}
label{
color: #08ffd1;
font-size: 17px;
}
#name{
width: 300px;
height: 30px;
border: none;
border-radius: 3px;
padding-left: 8px;
}

span{
color: white;
font-size: 17px;
}
a{
float: right;
background-color: grey;
}

#wall {
    margin-top: 0;
}